* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
  padding: 0;
  width: 20px;
  height: 17px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  width: 50%;
  max-width: 830px;
  background-color: #ebebeb;
  border-radius: 22px;
}

.input-search {
  padding: 12px 23px;
  background: transparent;
  border: none;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-search {
  fill: #000000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.icons-link:hover {
  opacity: 1;
}

.icon-video {
  opacity: 0.24;
}

.user-avatar {
  margin-left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
